:root {
  --color-bg: hsl(265, 63%, 7%);
  --color-header-bg: radial-gradient(50% 50% at 50% 50%, #763CAC22 0%, rgba(50, 15, 133, 0) 80%);
  --color-text: hsl(0, 0%, 93%);
  --color-accent: hsla(0, 0%, 80%, 1);
  --color-highlight: hsla(271, 48%, 45%, 1);
}
