:root {
  --color-bg: hsl(265, 63%, 7%);
  --color-header-bg: radial-gradient(50% 50% at 50% 50%, #763CAC22 0%, rgba(50, 15, 133, 0) 80%);
  --color-text: hsl(0, 0%, 93%);
  --color-accent: hsla(0, 0%, 80%, 1);
  --color-highlight: hsla(271, 48%, 45%, 1);
}

.python {
  color: hsl(207, 51%, 43%);
  font-weight: 600;
}

.highlight{
  color: hsl(0, 75%, 50%);
  font-weight: 600;
}

.highlight2{
  color: hsl(60, 75%, 50%);
  font-weight: 600;
}

.django {
  color: hsl(120, 57%, 40%); // Django green
  font-weight: 600;
}

.react {
  color: hsl(200, 100%, 50%); // React blue
  font-weight: 600;
}