@use '../util/' as u;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

h1,
h2,
h3,
h4 {
  margin: 0;
  line-height: 1.1;
}

h1 {
  @include u.fs-fluid(u.rem(375), u.rem(1200), u.rem(36), u.rem(48));
}

h2 {
  @include u.fs-fluid(u.rem(375), u.rem(1200), u.rem(28), u.rem(36));
}

p {
  @include u.fs-fluid(u.rem(375), u.rem(1200), u.rem(16), u.rem(18));
  line-height: 1.5;

  &.small {
    font-size: u.rem(13);
  }
}

a {
  text-decoration: none;
}

p > a {
  color: var(--color-text);
  text-decoration: underline;
  transition: color 150ms ease-in-out;

  &:hover {
    color: var(--color-accent);
  }
}
